* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #602222fb;
  color: white;
  margin: 0;
  padding: 0;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  color: aliceblue;
}

h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: white;
  display: inline;
}

#nav-bar {
  color: rgb(43, 226, 183);
  display: inline;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.top-box {
  position: relative;
  color: rgb(0, 174, 255);
  border: 3px solid black;
  border-radius: 35;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.435);
  text-align: center;
}

.footer {
  background-color: #000000;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

ul {
  margin: auto;
  /* float: right; */
}

li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#info {
  position: relative;
  top: 30%;
  left: 50%;
  width: 50%;
  height: 41%;
  color: rgba(242, 0, 255, 0.579);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -25%;
  margin-top: 5px;
}
#info p {
  margin: 5px 0;
  color: rgb(255, 0, 123);
  text-align: center;
  clear: both;
  margin-top: 10px;
}

#Box-title {
  position: relative
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

#middle-text{
  text-align: center;
  color: white;
  margin-top: 10px;
}

.burger {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 170px;
  height: 170px;
  margin: 0 auto 10px auto; 
  border: 2px solid;
  float: right;
  clear: left;
  border: 2px solid;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 70px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  right: 0px;
  top: -30px;
}

.burger::after {
    content: "";
    clear: both;
    display: table;
}
