* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-image: url("img/background-burger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

#middle {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10%;
  padding: 10px;
  margin-bottom: 20px;
}

.info-box {
  position: absolute;
  float: left;
  height: 250px;
  width: 50%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.524);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.784);
  margin-top: 30%;
}

#info {
  float: left;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 195);
  /*width: 50%;
  height: 41%;*/
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  color: rgb(255, 0, 153);
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: white;
  display: inline;
}

#nav-bar {
  color: rgb(43, 226, 183);
  display: inline;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.top-box {
  background-color: #000000;
  position: relative;
  color: rgb(0, 174, 255);
  border: 3px solid black;
  border-radius: 35;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.435);
  text-align: center;
}

.footer {
  background-color: #000000;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

ul {
  margin: auto;
  /* float: right; */
}

li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#Info-title {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

#Into-text {
  top: auto;
  text-align: center;
  color: white;
  margin-top: 10px;
}

#middle-text {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px auto;
  border: 2px solid;
  float: right;
  clear: left;
  border: 2px solid;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 70px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  right: 0;
  top: -30px;
}

.burger::after {
  content: "";
  clear: both;
  display: table;
}

#home {
  position: relative;
  padding-right: 10px;
}

#menu {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

#contact {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
